/* Universal Selector to remove default browser settings */
* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

@font-face {
  font-family: "Main";
  src: url(./assets/fonts/Overpass/static/Overpass-Black.ttf);
  font-weight: 400;
}

/* CSS Variables */
:root {
  --Orange: hsl(25, 97%, 53%);

  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}

html {
  font-size: 15px;
  color: var(--White);
}

body {
  font-family: "Main";
  background-color: var(--Very-Dark-Blue);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 30vw;
  padding: 2.5rem;
  background-image: linear-gradient(var(--Dark-Blue), var(--Very-Dark-Blue));
  border-radius: 25px;
}

.rating {
  background-color: var(--Dark-Blue);
  color: var(--Light-Grey);
  width: 45px;
  height: 45px;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating.star {
  margin-bottom: 1.5rem;
}

h1 {
  padding-bottom: 1rem;
  font-weight: normal;
}

p {
  color: var(--Light-Grey);
  padding-bottom: 1.5rem;
  line-height: 1.5;
}

.rating-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.submit {
  background-color: var(--Orange);
  width: 100%;
  padding: 1rem 0;
  border-radius: 25px;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

button {
  border: none;
}

.active {
  background-color: var(--White);
  color: black;
}

@media (hover: hover) {
  .submit:hover,
  .number:hover {
    cursor: pointer;
  }

  .submit:hover {
    background-color: var(--White);
  }

  .number:hover {
    background-color: var(--Orange);
    color: black;
  }
}

.submit:active {
  background-color: var(--White);
}

.clicked {
  background-color: red;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card {
    width: 90%;
  }

  html {
    font-size: 12.5px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .card {
    width: 80%;
  }

  html {
    font-size: 13.5px;
  }

  :where(h1, p, .rating-container, .submit) {
    margin-bottom: 1.5rem;
  }

  .rating.star {
    margin-bottom: 2rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card {
    width: 70%;
  }

  html {
    font-size: 14.5px;
  }

  :where(h1, p, .rating-container, .submit) {
    margin-bottom: 1.5rem;
  }

  .rating.star {
    margin-bottom: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .card {
    width: 40%;
  }

  :where(h1, p, .rating-container, .submit) {
    margin-bottom: 1.5rem;
  }

  .rating.star {
    margin-bottom: 2rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
